<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate</title>
</head>
<body>
    <div class="options">
        <a href="/candidate" style="color: green;">candidate</a>
        <a href="/referee" style="color: grey;">referee</a>
    </div>
    <h1>Candidate Application</h1>
    <p>please upload your resume:</p>
    <form action="/uploadResume" method="POST" enctype="multipart/form-data">
        <input type="file" name="resume" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>