<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referee</title>
</head>

<body>
    <div class="option">
        <a href="/candidate" style="color: grey;">candidate</a>
        <a href="/referee" style="color:green">referee</a>
    </div>
    <h1>This is referee</h1>
    <form action="/submitJobPost" method="POST">
        <input type="email" placeholder="email" name="email" required>
        <input type="url" placeholder="job link" name="jobLink" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>